<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="test" connectionString="Server=127.0.0.1;Port=5432;User Id=test_store_user;password=testStoreUserPassword;database=test_store;" />
    <add name="master" connectionString="Server=192.168.99.100;Port=5432;User Id=dbuser;password=dbuserpass;database=dbname;" />
    <add name="slave" connectionString="Server=192.168.99.100;Port=5433;User Id=dbuser;password=dbuserpass;database=dbname;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Sigil" publicKeyToken="2d06c3494341c8ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>